fastapi
uvicorn
python-multipart
pydantic
openai
python-dotenv
requests
deepgram-sdk
anyio
httpx
opencv-python
mediapipe
python-jose
passlib
bcrypt
fer
ultralytics
cmake 
dlib
face-recognition
tensorflow==2.19.0
moviepy==1.0.3
redis
certifi
python-docx
google-api-python-client
google-auth
google-auth-oauthlib
